# Ignore common Python files and directories
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore virtual environment files
venv/
.env

# Ignore development and debugging files
.vscode/
.idea/
*.log
*.bak

# Ignore build artifacts
build/
dist/
*.egg-info/